page-statistics {

}

.centered_div {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    text-align: center;
    widows: 150px;
}

#s0, #s1, #s2, #s3, #s4 {
    padding-right: 0.05em;
    padding-left: .05em;
    color: #FFD203;
}

.card-title-ios {
    text-align: center;
}