page-addcard {

}

ion-icon {
    display: inline-block;
    font-size: 1.5em;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #999;
    padding-bottom: 0;
    margin-bottom: 0;
}

.item-input ion-label {
    margin-bottom: 0;
    padding-bottom: 0;
}
.item-input ion-label {
    font-size: 1em;
}