.list-ios .item-block .item-inner{
    border: 0px;
}

.list-md .item-block .item-inner {
    border : 0px;
}

.label-ios{
    font-size: 15px;
}

ion-icon {
    padding-right: 1.5em;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
